.dropdown {
    max-height: 10%;
    width : 17%;
    margin-left: 22%;
    border-radius: 1px;
    margin-top: -13%;
    position: relative;
    border-radius: 5px;
    text-align: left;
    align-self: center;
}

.dropdown .options {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
}

.dropdown .options.visible {
    opacity: 1;
    visibility: visible;
}

.dropdown .toggle,
.dropdown .options button {
    display: block;
    text-wrap: nowrap;
    border-radius: 5px;
    max-height: 10%;
    max-width: 20%;
    padding: 5% 100% 5% 30%;
    border:  1px solid #303030aa;
    background-color: #ffffffdd;
    transition: background-color 0.005s ease;
    cursor: pointer;
}

.dropdown .options button.selected {
    background-color: #aaaa;
    cursor: default;
}

.dropdown .options button:hover {
    background-color: #dddd;
}

.dropdown .toggle:hover {
    background-color: #cccc;
}